.idea/*.xml
.idea/*.iml
drivers
OthersLearnPractice/v2/pythonSelenium/geckodriver.log
__pycache__/
*.html
assets
pytestsDemo/*.log
PythonSeleniumFramework/*.png
OthersLearnPractice/pytestsDemo/*.log
tests/*.png
*.png
*.log
output/logs/*.log
output/reports/assets
output/reports/*.html
output/reports/*.xml
output/screenshots/*.png
